body{}
.featureVisual_ambilight{background: url(../images/oled/oled_v2_mm.jpg) no-repeat center center;}
.featureVisual_angles{background: url(../images/oled/oled_v3_mm.jpg) no-repeat center center;}
.layer_ultra_webos video{display: none\9;}
.pigeon__switcher{width:330px;}
.pigeon__switcher > *{float:left;}
.pigeon__tumbler{margin-top: 20px;display: block;}
#curved{background: url('../images/oled/anim/anim_5.jpg') no-repeat center center;}
#curved *{display: none;}