section.color.clearfix

	.color-wrap

		h2.title(role="heading") Реалистичные цвета

		p.text
			| Реалистичные цвета заставят вас по-настоящему поверить в изображение.
			| Это не просто красочная картинка – это более яркие впечатления от
			| просмотра и мощный эффект присутствия.
