section.colorprime

	.colorprime-wrap

		h2.title(role="heading") Технология Color Prime

		p.text
			| Технология Color Prime использует последние инновации в подсветке,
			| чтобы расширить палитру цветов более, чем на 20%. Сочные и чистые
			| цвета оживляют изображение, делая его более четким и реалистичным,
			| чем на обычных LED LCD-телевизорах. Теперь все краски мира станут
			| реальностью на вашем экране!

	button.colorprime__btn(type="button")
		span Включите
		span.colorprime__logo
