section.ips

	.ips-wrap

		h2.title(role="heading") IPS 4K панель

		p.text
			| Матрица IPS 4K обладает широкими углами обзора: независимо от размера
			| экрана, его комфортно смотреть с разных позиций, и ни один зритель не
			| чувствует себя ущемленным. Используемые технологии позволяют повысить
			| контрастность за счет динамического управления подсветкой.

	.ips__img
