section.sound(
	data-200-bottom="background-position-x: 0px"
	data--450-top="background-position-x: 700px")

	.wrapper

		.sound-wrap

			h2.title(role="heading") Премиальный звук

			p.text
				| Звуковая система телевизоров LG ULTRA HD соответствует безупречному
				| изображению. Все современные модели оснащены многоканальной звуковой
				| системой и&nbsp;встроенным сабвуфером, отлично передающими драматичные
				| моменты и объемные звуковые эффекты. Насладитесь мощным и напористым
				| звучанием с обилием деталей!

			.sound__logo

		.sound__img
