section.ultra-3d.clearfix

	.ultra-3d-wrap

		h2.title(role="heading") Великолепный 3D в 4K

		p.text
			| Удовольствие от впечатляющей технологии CINEMA 3D ощутимо усиливается
			| за счет четырехкратного прироста пикселей на экране ULTRA HD 4K.
			| Изображение становится вдвое четче, сохраняя мельчайшие детали в 3D.

		.ultra-3d__glasses

		p.text
			| В отличие от традиционных 3D-телевизоров, модели с технологией LG
			| CINEMA 3D обеспечивают высокий комфорт для зрителей: изображение
			| более яркое и стабильное, без эффекта мерцания. Более того, стильные
			| и недорогие 3D-очки LG не требуют подзарядки, что делает их легкими
			| и удобными при длительном просмотре.

	.ultra-3d__cloud
	.ultra-3d__eagle
	.ultra-3d__ball
	.ultra-3d__screen
	.ultra-3d__bg
