section.ultrahd

	.ultrahd-wrap

		h2.title(role="heading")
			| ULTRA HD
			br
			| 8.3 млн пикселей

		p.text
			| Новый стандарт изображений поднимает планку качества как никогда
			| высоко: 4K  ULTRA HD в четыре раза превосходит по качеству Full HD.
			| 8,3 миллиона пикселей обеспечивают превосходное изображение даже при
			| просмотре с близкого расстояния. Насладитесь невероятно живым и
			| потрясающе ярким изображением в телевизорах LG ULTRA HD.

	.ultrahd__switch
		.ultrahd__label hd

		.ultrahd__switch-wrap
			.ultrahd__line

		.ultrahd__point

		.ultrahd__label.ultrahd__label_color_red ultra hd
