footer(role='contentinfo')
    .innerwrap
        #map.uk
          h4 &Scy;&Tcy;&Rcy;&Acy;&Ncy;&Acy; / &YAcy;&Zcy;&Ycy;&Kcy;
          | &#x9;&#x9;&#x9;
          form.countryform
            .styled-select.large
              label
                select#country.lazy(name='country', data-uri='/ru/response/footerCountries', title='СТРАНА / ЯЗЫК')
                  option(value='http://www.lg.com/ru') Russia / &Rcy;&ucy;&scy;&scy;&kcy;&icy;&jcy;
            | &#x9;&#x9;&#x9;&#x9;
            button.button.white.small.right.no-margin(type='submit', title='Выберите страну') &Pcy;&iecy;&rcy;&iecy;&jcy;&tcy;&icy;
          | &#x9;&#x9;&#x9;
          .map-img
            span.loader
              img.active(alt='Russia', width='345px', height='177px', data-src='/ru/images/global/lg_worldwide_map_ru.jpg', src='/lg3-common/images/global/b.gif')
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              noscript
                img(data-src='/ru/images/global/lg_worldwide_map_ru.jpg', src='/lg3-common/images/global/b.gif', alt='Russia', width='345', height='177')
        | &#x9;&#x9;
        nav.col_wrap(role='navigation')
          ul(role='menu')
            li.col.one
              h4(role='menuitem') &Pcy;&Rcy;&Ocy;&Dcy;&Ucy;&Kcy;&Tcy;&Ycy;
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              ul(role='menu')
                li
                  a(role='menuitem', href='http://www.lg.com/ru/tv-audio-video') &Tcy;&Vcy;/&Acy;&ucy;&dcy;&icy;&ocy;/&Vcy;&icy;&dcy;&iecy;&ocy;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(role='menuitem', href='http://www.lg.com/ru/computer-products') IT &pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tscy;&icy;&yacy;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(role='menuitem', href='http://www.lg.com/ru/mobile') &Scy;&mcy;&acy;&rcy;&tcy;&fcy;&ocy;&ncy;&ycy;/&Tcy;&iecy;&lcy;&iecy;&fcy;&ocy;&ncy;&ycy;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(role='menuitem', href='http://www.lg.com/ru/home-appliances') &Bcy;&ycy;&tcy;&ocy;&vcy;&acy;&yacy; &tcy;&iecy;&khcy;&ncy;&icy;&kcy;&acy;
                | &#x9;&#x9;&#x9;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  noindex
                    a(role='menuitem', target='_blank', title='Открыть новое окно', rel='nofollow', href='http://www.lgaircon.ru') &Kcy;&ocy;&ncy;&dcy;&icy;&tscy;&icy;&ocy;&ncy;&iecy;&rcy;&ycy;
                | &#x9;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  noindex
                    a(role='menuitem', target='_blank', title='Открыть новое окно', rel='nofollow', href='http://www.lg-b2b.ru') &Kcy;&ocy;&mcy;&mcy;&iecy;&rcy;&chcy;&iecy;&scy;&kcy;&icy;&iecy; &pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tcy;&ycy;
            | &#x9;&#x9;&#x9;&#x9;
            li.col.two
              h4(role='menuitem') LG LIVE
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              ul(role='menu')
                li
                  a(role='menuitem', href='http://www.lg.com/ru/lg-live') &Ncy;&acy;&shcy;&acy; &icy;&scy;&tcy;&ocy;&rcy;&icy;&yacy;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(role='menuitem', href='http://www.lg.com/ru/lg-live#social-board') &Scy;&ocy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&acy;&yacy; &scy;&iecy;&tcy;&softcy;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(role='menuitem', href='http://www.lg.com/ru/lg-live#inside-lg') &Vcy;&ncy;&ucy;&tcy;&rcy;&icy; LG
            | &#x9;&#x9;&#x9;&#x9;
            li.col.three
              h4(role='menuitem') &Ocy; &Kcy;&Ocy;&Mcy;&Pcy;&Acy;&Ncy;&Icy;&Icy;
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              ul(role='menu')
                li
                  a(role='menuitem', href='https://www.lg.com/ru/support/contact-customer-support') &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(role='menuitem', href='http://www.lg.com/ru/support') &Pcy;&ocy;&dcy;&dcy;&iecy;&rcy;&zhcy;&kcy;&acy;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(role='menuitem', href='http://www.lg.com/ru/glossary') &Gcy;&lcy;&ocy;&scy;&scy;&acy;&rcy;&icy;&jcy;
                | &#x9;&#x9;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(role='menuitem', href='http://www.lg.com/ru/about-lg') &Ocy;&bcy; LG
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(role='menuitem', href='http://www.lg.com/ru/careers') &Vcy;&acy;&kcy;&acy;&ncy;&scy;&icy;&icy;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(role='menuitem', href='http://www.lg.com/ru/brand-shop') &Fcy;&icy;&rcy;&mcy;&iecy;&ncy;&ncy;&ycy;&jcy; &mcy;&acy;&gcy;&acy;&zcy;&icy;&ncy; LG
            | &#x9;&#x9;&#x9;&#x9;
            li.col.four
              h4(role='menuitem') &Pcy;&Ocy;&Dcy;&Dcy;&IEcy;&Rcy;&ZHcy;&Kcy;&Acy;
              | &#x9;&#x9;&#x9;&#x9;&#x9;
              ul(role='menu')
                li
                  a(role='menuitem', href='https://www.lg.com/ru/support/product-registration') &Rcy;&iecy;&gcy;&icy;&scy;&tcy;&rcy;&acy;&tscy;&icy;&yacy; &pcy;&rcy;&ocy;&dcy;&ucy;&kcy;&tcy;&acy;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(role='menuitem', href='http://www.lg.com/ru/support/software-manuals') &Pcy;&Ocy; &icy; &rcy;&ucy;&kcy;&ocy;&vcy;&ocy;&dcy;&scy;&tcy;&vcy;&acy;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(role='menuitem', href='http://www.lg.com/ru/support/product-help') &Vcy;&ocy;&pcy;&rcy;&ocy;&scy;&ycy; &icy; &ocy;&tcy;&vcy;&iecy;&tcy;&ycy;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(role='menuitem', href='https://www.lg.com/ru/support/repair-service/schedule-repair') &Gcy;&acy;&rcy;&acy;&ncy;&tcy;&icy;&yacy; &icy; &scy;&iecy;&rcy;&vcy;&icy;&scy;
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                li
                  a(role='menuitem', href='http://www.lg.com/ru/support/service-center') &Fcy;&icy;&rcy;&mcy;&iecy;&ncy;&ncy;&ycy;&jcy; &Scy;&iecy;&rcy;&vcy;&icy;&scy; LG
        // LGEGMO-261 start
        .legal
          span.copy Copyright &copy; 2015 LG Electronics. &Vcy;&scy;&iecy; &pcy;&rcy;&acy;&vcy;&acy; &zcy;&acy;&shchcy;&icy;&shchcy;&iecy;&ncy;&ycy;.
          br
          // LGEGMO-261 end
          ul
            li
              a(href='http://www.lg.com/ru/sitemap') &Kcy;&Acy;&Rcy;&Tcy;&Acy; &Scy;&Acy;&Jcy;&Tcy;&Acy;
            | &#x9;&#x9;&#x9;&#x9;
            li
              a(href='http://www.lg.com/ru/privacy') &Kcy;&ocy;&ncy;&fcy;&icy;&dcy;&iecy;&ncy;&tscy;&icy;&acy;&lcy;&softcy;&ncy;&ocy;&scy;&tcy;&softcy;
            | &#x9;&#x9;&#x9;&#x9;
            li
              a(href='http://www.lg.com/ru/legal') &Pcy;&rcy;&acy;&vcy;&ocy;&vcy;&acy;&yacy; &icy;&ncy;&fcy;&ocy;&rcy;&mcy;&acy;&tscy;&icy;&yacy;
        // LGEGMO-261 start
        style.
          footer{height:305px}
          footer div.follow{margin-top:-14px}
          .legal li:first-child{border-left:1px solid #999999}
          .lt-ie9 .wid100p{width:100%}
        | &#x9;&#x9;
        .footerBanner
          .jeongDo
            a(target='_blank', href='/global/about-lg/corporate-information/jeong-do-management')
              span jeong do management
          | &#x9;&#x9;&#x9;
          .follow.followbl
            span.tit
            .sns-btn
              a.prev(href='#')
              a.next(href='#')
            .sns-inner
              | LGERU-1840 start sns 중 habrahabr.ru 삭제
              a.ir.fb(target='_blank', href='http://www.facebook.com/LGRussia', data-sc-item='footer-follow', title='LG Официальная группа в Facebook, Открыть новое окно') Facebook
              a.ir.tw(target='_blank', href='https://twitter.com/#!/lg_russia', data-sc-item='footer-follow', title='LG Официально в Twitter, Открыть новое окно') Twitter
              a.ir.vk(target='_blank', href='http://vk.com/lgrussia', data-sc-item='footer-follow', title='LG Официальная группа ВКоктакте, Открыть новое окно')
              a.ir.od(target='_blank', href='http://odnoklassniki.ru/LGRussia', data-sc-item='footer-follow', title='LG Официально в Одноклассники, Открыть новое окно')
              a.ir.bl(target='_blank', href='http://www.lg.com/ru/blog/', data-sc-item='footer-follow', title='LG Официальный блог, Открыть новое окно')
              a.ir.yt(target='_blank', href='http://youtube.com/lgrussia', data-sc-item='footer-follow', title='LG Официально на Youtube, Открыть новое окно') YouTube
        .legal.wid100p(style='float: left;margin-top:0px;width:auto;clear:none')
          a(href='http://www.lgcorp.com/about/affiliatesList.dev', target='_blank', title='Открыть новое окно', style='padding: 0pt;text-transform:none')
      .goTop.hidden(style='height:60px')
        span(style='cursor:pointer')
          img(src='/ru/images/btn-page-top-ru.png', data-over-img='/ru/images/btn-page-top-over-ru.png')
