.menu {

	&__item {

		&_pos {

			&_left {

				& .menu__item-wrap:hover {
					left: 0;
				}

			}

			&_right {

				& .menu__item-wrap:hover {
					left: -26%;
				}
			}

			&_center {

				& .menu__item-wrap {

					&:hover {
						left: -13%;

						&:before {
							position: absolute;
							top: 0;
							left: -12px;
							width: 12px;
							height: 100%;
							content: ' ';
							background: url('../images/ie/menu-shadow-left.png') repeat-y 0 0;
						}

						&:after {
							position: absolute;
							top: 0;
							right: -12px;
							width: 12px;
							height: 100%;
							content: ' ';
							background: url('../images/ie/menu-shadow-right.png') repeat-y 0 0;
						}

					}

				}

			}

		}

	}

	&__item-wrap {

		&:hover {

			&:before {
				position: absolute;
				top: 0;
				left: -12px;
				width: 12px;
				height: 100%;
				content: ' ';
				background: url('../images/ie/menu-shadow-left.png') repeat-y 0 0;
			}

			&:after {
				position: absolute;
				top: 0;
				right: -12px;
				width: 12px;
				height: 100%;
				content: ' ';
				background: url('../images/ie/menu-shadow-right.png') repeat-y 0 0;
			}

		}

	}

	&__item-img {

		&_type {

			&_ultra {
				background-size: cover;
				-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/menu-ultra-hover.png', sizingMethod='scale')";
			}

			&_oled {
				background-size: cover;
				-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/menu-oled-hover.png', sizingMethod='scale')";
			}

			&_webos {
				background-size: cover;
				-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/menu-webos-hover.png', sizingMethod='scale')";
			}

		}

	}

}
