extends ../layouts/default

block head
	- pageTitle = 'LG';

block link

	script.

		var links = [
			'assets/styles/common.css',
			'assets/styles/lg.min.css',
			'assets/styles/fonts.css',
			'assets/styles/default.css',
		];

		for (var index = 0; index < links.length; index++) {
			var link = document.createElement('link'),
				head = document.getElementsByTagName('head')[0];

			link.rel = "stylesheet";
			link.href = links[index];
			head.appendChild(link);
		}

block content
	include ../blocks/main/menu
	include ../blocks/main/technology
	include ../blocks/main/submenu

block scriptAfter

	+scripts([
		"vendor.js",
		"common.js"
	])

block scriptBefore

	script.

		var scripts = [
			'//code.jquery.com/jquery-1.6.1.min.js',
		];

		for (var index = 0; index < scripts.length; index++) {
			var script = document.createElement('script'),
				head = document.getElementsByTagName('head')[0];

			script.type = "text/javascript";
			script.src = scripts[index];
			head.appendChild(script);
		}

