extends ../layouts/default

block head
	- pageTitle = 'LG OLED';
	- classWidth = 'main_width_1260'

block link

	script.

		var links = [
			'assets/styles/common.css',
			'assets/styles/lg.min.css',
			'assets/styles/fonts.css',
			'assets/styles/default.css',
		];

		for (var index = 0; index < links.length; index++) {
			var link = document.createElement('link'),
				head = document.getElementsByTagName('head')[0];

			link.rel = "stylesheet";
			link.href = links[index];
			head.appendChild(link);
		}

block content
	nav.menu-mini

		a.menu-mini__item(href="ultra.html")
			.menu-mini__logo.menu-mini__logo_type_ultra

		a.menu-mini__item.menu-mini__item_state_active(href="oled.html")
			.menu-mini__logo.menu-mini__logo_type_oled

		a.menu-mini__item(href="webos.html")
			.menu-mini__logo.menu-mini__logo_type_webos

		a.menu-mini__home(href="main.html")

	section.banner.banner_type_oled(role="banner")

		img.banner__img.js-banner-img(src="assets/images/oled/oled-bg.jpg")

		.banner__info.js-banner-info
			.banner__logo.banner__logo_state_hide.js-banner-logo

			h1.banner__title.banner__title_state_hide.js-banner-title(role="heading")
				| Наивысшая ступень развития ТВ!

			.banner__text.banner__text_state_hide.js-banner-text
				| Совершенный цвет, бесконечная контрастность

			.banner__btn.banner__btn_state_hide.js-banner-btn
				| Посмотрите видео


		!= "<!--[if !IE]>-->"
			.banner__video.js-banner-video#bannerPlayerOled(data-video-id="NiRkoX2p94o")
		!= "<!--<![endif]-->"

		!= "<!--[if lte IE 8]>"
			#bannerPlayerOled

			script.

				var params = {
					allowScriptAccess: "always",
					wmode: "opaque"
				};
				var atts = { id: "bannerPlayer" };
				swfobject.embedSWF(
					"http://www.youtube.com/v/NiRkoX2p94o?enablejsapi=1&playerapiid=bannerPlayer&version=3",
					"bannerPlayerOled", "1260", "442", "8", null, null, params, atts);

		!= "<![endif]-->"

	include ../blocks/oled/oled

	.wrapper
		include ../blocks/oled/pixel
		include ../blocks/oled/oled-4k
		include ../blocks/oled/wrgb
		include ../blocks/oled/infinity
		include ../blocks/oled/action
		include ../blocks/oled/screen
		include ../blocks/setup
		include ../blocks/console

	section.compare

		.wrapper

			.compare__feat
				.button-feat
					span.button-feat_tt_up Сравните основные характеристики
					br
					span телевизоров LG

			h2.compare__title
				span Выберите свой
				br
				span.compare__title_color_red OLED
				= " "
				span телевизор

			.compare-container

				+model({
					img: "assets/images/oled/content/img-1.jpg",
					icons: ["4k-mini", "infinity-mini", "respond-mini"],
					text: "Модель 2014 года! OLED телевизор с уникальным дизайном, поддержкой 3D и Smart TV",
					num: "55EA970V",
					mrg: 22
				})

				+model({
					img: "assets/images/oled/content/img-2.jpg",
					icons: ["4k-mini", "infinity-mini", "respond-mini"],
					text: "Новый изогнутый OLED-телевизор с Cinema 3D и новым поколением Smart TV на платформе webOS",
					num: "55EC930V",
					mrg: 22
				})

block scriptAfter

	+scripts([
		"vendor.js",
		"common.js",
		"banner.js",
		"oled.js"
	])

block scriptBefore

	script.

		var scripts = [
			'https://www.youtube.com/iframe_api',
			'assets/scripts/swfobject.js'
		]

		for (var index = 0; index < scripts.length; index++) {
			var script = document.createElement('script'),
				head = document.getElementsByTagName('head')[0];

			script.type = "text/javascript";
			script.src = scripts[index];
			script.async = true;
			head.appendChild(script);
		}
