extends ../layouts/default

block head
	- pageTitle = 'LG OLED';
	- classWidth = 'main_width_1260'

block content
	nav.menu-mini

		a.menu-mini__item(href=jv0)
			.menu-mini__logo.menu-mini__logo_type_ultra

		a.menu-mini__item.menu-mini__item_state_active(href=jv0)
			.menu-mini__logo.menu-mini__logo_type_oled

		a.menu-mini__item(href=jv0)
			.menu-mini__logo.menu-mini__logo_type_webos

		a.menu-mini__home(href="main.html")

	include ../blocks/oled

	.wrapper
		include ../blocks/pixel
		include ../blocks/oled-4k
		include ../blocks/wrgb
		include ../blocks/infinity
		include ../blocks/action
		include ../blocks/screen
		include ../blocks/setup
