extends ../layouts/default

block head
	- pageTitle = 'LG OLED';
	- classWidth = 'main_width_1260'

block content
	nav.menu-mini

		a.menu-mini__item(href="ultra.html")
			.menu-mini__logo.menu-mini__logo_type_ultra

		a.menu-mini__item.menu-mini__item_state_active(href="oled.html")
			.menu-mini__logo.menu-mini__logo_type_oled

		a.menu-mini__item(href="webos.html")
			.menu-mini__logo.menu-mini__logo_type_webos

		a.menu-mini__home(href="main.html")

	include ../blocks/oled/oled

	.wrapper
		include ../blocks/oled/pixel
		include ../blocks/oled/oled-4k
		include ../blocks/oled/wrgb
		include ../blocks/oled/infinity
		include ../blocks/oled/action
		include ../blocks/oled/screen
		include ../blocks/oled/setup
		include ../blocks/console

		section.compare

			.compare__feat
				button.button-feat(type="button")
					span.button-feat_tt_up Сравните основные характеристики
					br
					span телевизоров LG

			h2.compare__title
				span Выберите свой
				br
				span.compare__title_color_red OLED
				= " "
				span телевизор

			.compare-container

				+model({
					img: "assets/images/oled/content/img-1.jpg",
					icons: ["4k-mini", "infinity-mini", "respond-mini"],
					text: "Модель 2014 года! OLED телевизор с уникальным дизайном, поддержкой 3D и Smart TV",
					num: "55EA970V"
				})

				+model({
					img: "assets/images/oled/content/img-2.jpg",
					icons: ["4k-mini", "infinity-mini", "respond-mini"],
					text: "Новый изогнутый OLED-телевизор с Cinema 3D и новым поколением Smart TV на платформе webOS",
					num: "55EC930V"
				})
