extends ../layouts/default

block head
	- pageTitle = 'LG Ultra';
	- classWidth = 'main_width_1260'

block content
	nav.menu-mini

		a.menu-mini__item.menu-mini__item_state_active(href="ultra.html")
			.menu-mini__logo.menu-mini__logo_type_ultra

		a.menu-mini__item(href="oled.html")
			.menu-mini__logo.menu-mini__logo_type_oled

		a.menu-mini__item(href="webos.html")
			.menu-mini__logo.menu-mini__logo_type_webos

		a.menu-mini__home(href="main.html")

	section.banner.banner_type_ultra(role="banner")

		.banner__info
			.banner__logo

			h1.banner__title(role="heading")
				| Ультрачеткость,
				br
				| в каждой детали

			.banner__text
				| ULTRA HD 4K
				br
				| 8.3 млн пикселей

			button.banner__btn(type="button")
				| Посмотрите видео

	section.features

		.wrapper.clearfix

			.features__item.features__item_pos_left

				.features__item-icon.features__item-icon_type_ultra-4k

				.features__item-text
					| Качество изображения
					br
					| в 4 раза лучше чем Full HD

			.features__item

				.features__item-icon.features__item-icon_type_ang

				.features__item-text
					| Идеальная картинка
					br
					| при любых углах обзора

			.features__item.features__item_pos_right.features__item_pl_116

				.features__item-icon.features__item-icon_type_colorprime

				.features__item-text
					| Невероятно живые
					br
					| и яркие цвета

	section.video.video_pt_48

		.wrapper.clearfix

			.video__item
				.video__clip
					img.video__img(src="assets/images/ultra/content/video-1.jpg")
					.video__play

				.video__text
					| LG ULTRA HD ТВ реклама 1

			.video__item
				.video__clip
					img.video__img(src="assets/images/ultra/content/video-2.jpg")
					.video__play

				.video__text
					| Филипп Блум о телевизоре LG&nbsp;ULTRA&nbsp;HD&nbsp;4K

			.video__item
				.video__clip
					img.video__img(src="assets/images/ultra/content/video-3.jpg")
					.video__play

				.video__text
					| LG ULTRA HD ТВ реклама 2

			.video__item
				.video__clip
					img.video__img(src="assets/images/ultra/content/video-4.jpg")
					.video__play

				.video__text
					| Ultra HD реальность. А что бы вы сделали, если бы наступил
					| конец света?

	.wrapper

		include ../blocks/ultra/colorprime
		include ../blocks/ultra/color
		include ../blocks/ultra/ultra-hd
		include ../blocks/ultra/ultra-3d
		include ../blocks/ultra/ips
		include ../blocks/stream

	include ../blocks/ultra/sound
	- var classMod = "setup_type_ultra";
	include ../blocks/setup

	section.compare

		.wrapper

			.compare__feat
				button.button-feat(type="button")
					span.button-feat_tt_up Сравните основные характеристики
					br
					span телевизоров LG

			h2.compare__title
				span Выбери свой
				br
				span.compare__title_color_red 4K ULTRA HD
				= " "
				span телевизор

			.compare-container

				+model({
					img: "assets/images/ultra/content/img-1.jpg",
					icons: [
						"4k-3d-mini",
						"webos-mini",
						"dvb-t2-mini",
						"ips-4k-mini",
						"harman-mini"
					],
					text: "Флагманский 4K 3D ULTRA HD телевизор 2014 года с функцией Smart TV на новой платформе webOS",
					num: "65UB980V",
					mrg: 8,
				})

				+model({
					img: "assets/images/ultra/content/img-2.jpg",
					icons: [
						"4k-3d-mini",
						"webos-mini",
						"dvb-t2-mini",
						"ips-4k-mini",
						"harman-mini"
					],
					text: "Флагманский 4K 3D ULTRA HD телевизор 2014 года с функцией Smart TV на новой платформе webOS",
					num: "79UB980V",
					mrg: 8,
				})

				+model({
					img: "assets/images/ultra/content/img-3.jpg",
					icons: [
						"4k-3d-mini",
						"webos-mini",
						"dvb-t2-mini",
						"ips-mini",
						"wifi-mini"
					],
					text: "Флагманский 4K 3D ULTRA HD телевизор 2014 года с функцией Smart TV на новой платформе webOS",
					num: "84UB980V",
					mrg: 8,
				})

				+model({
					img: "assets/images/ultra/content/img-4.jpg",
					icons: [
						"4k-3d-mini",
						"webos-mini",
						"dvb-t2-mini",
						"colorprime-mini",
						"harman-mini"
					],
					text: "Ультрачёткость в каждой детали",
					num: "UF950V",
					mrg: 8,
				})
