extends ../layouts/default

block head
	- pageTitle = 'LG WebOS';
	- classWidth = 'main_width_1260'

block content
	nav.menu-mini

		a.menu-mini__item(href="ultra.html")
			.menu-mini__logo.menu-mini__logo_type_ultra

		a.menu-mini__item(href="oled.html")
			.menu-mini__logo.menu-mini__logo_type_oled

		a.menu-mini__item.menu-mini__item_state_active(href="webos.html")
			.menu-mini__logo.menu-mini__logo_type_webos

		a.menu-mini__home(href="main.html")

	section.banner.banner_type_webos(role="banner")

		img.banner__img.js-banner-img(src="assets/images/webos/webos-bg.jpg")

		.banner__info.js-banner-info
			.banner__logo.banner__logo_state_hide.js-banner-logo

			h1.banner__title.banner__title_state_hide.js-banner-title(role="heading")
				| Смотрите,
				br
				| как просто!

			.banner__text.banner__text_state_hide.js-banner-text
				| Запуск в один клик

			button.banner__btn.banner__btn_state_hide.js-banner-btn(type="button")
				| Посмотрите видео

		div.banner__video.js-banner-video#bannerPlayerWebos(data-video-id="kWbRVrrpb4w")

	section.features

		.wrapper.clearfix

			.features__item.features__item_pos_left

				.features__item-icon.features__item-icon_type_4k

				.features__item-text
					| Просмотр 4К видео через интернет

			.features__item

				.features__item-icon.features__item-icon_type_click

				.features__item-text
					| Интуитивный интерфейс webOS

			.features__item.features__item_pos_right

				.features__item-icon.features__item-icon_type_lib

				.features__item-text
					| Доступ к обширной библиотеке фильмов в самых популярных
					| видео-сервисах

	section.video

		.wrapper.clearfix

			.video__item.js-video-switch.js-video-first(data-video-id="kWbRVrrpb4w")
				.video__clip
					img.video__img(src="assets/images/webos/content/video-1.jpg")
					.video__play

				.video__text
					| Особенности и управление новым&nbsp;webOS

			.video__item.js-video-switch(data-video-id="ZRXYo9H4FvY")
				.video__clip
					img.video__img(src="assets/images/webos/content/video-2.jpg")
					.video__play

				.video__text
					| BEAN BIRD — Футбольная тактика

			.video__item.js-video-switch(data-video-id="YuIIhGUitGo")
				.video__clip
					img.video__img(src="assets/images/webos/content/video-3.jpg")
					.video__play

				.video__text
					| BEAN BIRD — Диагноз

			.video__item.js-video-switch(data-video-id="S4awLeeRdZU")
				.video__clip
					img.video__img(src="assets/images/webos/content/video-4.jpg")
					.video__play

				.video__text
					| BEAN BIRD is Coming!


	- var classMod = "setup_type_webos";
	include ../blocks/setup

	.wrapper
		include ../blocks/webos/connect
		include ../blocks/webos/store
		include ../blocks/webos/demo
		include ../blocks/webos/collection
		include ../blocks/webos/data
		include ../blocks/stream
		include ../blocks/console

		section.compare

			.compare__feat
				button.button-feat(type="button")
					span.button-feat_tt_up Сравните основные характеристики
					br
					span телевизоров LG

			h2.compare__title
				span Рекомендованные
				br
				span.compare__title_color_red модели

			.compare-container

				+model({
					img: "assets/images/webos/content/img-1.jpg",
					icons: [
						"4k-3d-mini",
						"webos-mini",
						"dvb-t2-mini",
						"ips-4k-mini",
						"harman-mini"
					],
					text: "Ультрачёткость в каждой детали",
					num: "UF850V",
					mrg: 8,
				})

				+model({
					img: "assets/images/webos/content/img-2.jpg",
					icons: [
						"4k-3d-mini",
						"webos-mini",
						"dvb-t2-mini",
						"ips-4k-mini",
						"harman-mini"
					],
					text: "Ультрачёткость в каждой детали",
					num: "UF850V",
					mrg: 8,
				})

				+model({
					img: "assets/images/webos/content/img-3.jpg",
					icons: [
						"4k-3d-mini",
						"webos-mini",
						"dvb-t2-mini",
						"ips-mini",
						"wifi-mini"
					],
					text: "Это не просто телевизор, это Smart TV",
					num: "LF640V",
					mrg: 8,
				})

				+model({
					img: "assets/images/webos/content/img-4.jpg",
					icons: [
						"4k-3d-mini",
						"webos-mini",
						"dvb-t2-mini",
						"colorprime-mini",
						"harman-mini"
					],
					text: "Ультрачёткость в каждой детали",
					num: "UF950V",
					mrg: 8,
				})

block scriptAfter

	+scripts([
		"vendor.js",
		"banner.js",
		"common.js"
	])

block scriptBefore

	script.

		var script = document.createElement('script'),
			beforeScript = document.getElementsByTagName('script')[0];

		script.src = 'https://www.youtube.com/iframe_api';
		script.async = true;
		beforeScript.parentNode.insertBefore(script, beforeScript);
