section.collection.clearfix
	.collection-wrap

		h2.title(role="heading") 3D коллекция фильмов

		p.text
			| В приложени "3D World" на телевизорах LG, оснащенных системой webOS,
			| собрана уникальная коллекция полнометражных 3D-фильмов. Любимые
			| фильмы от Disney и других голливудских студий обеспечат
			| первоклассное семейное развлечение, а удобных очков CINEMA 3D из
			| комплекта телевизора хватит на всех.

	.collection__img
