section.connect.clearfix
	.connect-wrap

		h2.title.title_mb_3.title_type_point(role="heading") Помощник подключений
		h3.title.title_type_sub включи и используй

		p.text
			| В дружелюбном интерфейсе webOS все необходимое доступно за пару кликов.
			| К примеру, чтобы подключить к телевизору новое устройство, необязательно
			| изучать недра меню и список портов. Как только вы подключите кабель,
			| на экране появится окошко предпросмотра, и можно будет одним нажатием
			| переключиться на обнаруженный сигнал.
