section.data#dateSection
	.data-wrap

		h2.title(role="heading") Обмен данными

		p.text
			| LG webOS – это не только продвинутая система Smart TV, но и
			| максимально удобная интеграция с другими устройствами.

		p.text
			| Вы можете просматривать файлы с внешних устройств на экране телевизора
			| через LG webOS Share, а также транслировать изображение по воздуху
			| через Miracast, либо подключить мобильное устройство через MHL.
			| Вы не встретите лишних ограничений на своем пути, когда захотите
			| поделиться лучшими моментам из жизни на большом экране!

	.data__img.js-data-img

	video.data__video.mobile-hide.video-js.vjs-default-skin#dataVideo
		source(src="assets/video/carousel.mp4" type='video/mp4')
