section.store
	.store-wrap

		h2.title.title_mb_3.title_type_point(role="heading") LG Store
		h3.title.title_type_sub все лучшее в одном сервисе

		p.text
			| Главное богатство умного телевизора – обилие контента на любой вкус.
			| В LG Store вы найдете видео по запросу, 3D-видео, музыкальные сервисы,
			| игры и многое другое. Вас ждут сотни приложений и тысячи фильмов, а
			| чтобы не заблудиться в этом многообразии, в LG webOS предусмотрена
			| система рекомендаций. Телевизор предложит вам, что посмотреть, исходя
			| из ваших персональных вкусов.
