section.webos

	.banner.banner_type_webos(role="banner")

		.banner__info
			.banner__logo

			h1.banner__title(role="heading")
				| Смотрите,
				br
				| как просто!

			.banner__text
				| Запуск в один клик

			button.banner__btn(type="button")
				| Посмотрите видео

	.webos-wrap.wrapper.clearfix

		.webos__item.webos__item_pos_left

			.webos__item-icon.webos__item-icon_type_4k

			.webos__item-text
				| Просмотр 4К видео через интернет

		.webos__item

			.webos__item-icon.webos__item-icon_type_click

			.webos__item-text
				| Интуитивный интерфейс webOS

		.webos__item.webos__item_pos_right

			.webos__item-icon.webos__item-icon_type_lib

			.webos__item-text
				| Доступ к обширной библиотеке фильмов в самых популярных видео-сервисах

	.webos__video.wrapper.clearfix

		.webos__video-item
			.webos__video-clip
				img.webos__video-img(src="assets/images/webos/content/video-1.jpg")
				.webos__video-play

			.webos__video-text
				| Особенности и управление новым&nbsp;webOS

		.webos__video-item
			.webos__video-clip
				img.webos__video-img(src="assets/images/webos/content/video-2.jpg")
				.webos__video-play

			.webos__video-text
				| BEAN BIRD — Футбольная тактика

		.webos__video-item
			.webos__video-clip
				img.webos__video-img(src="assets/images/webos/content/video-3.jpg")
				.webos__video-play

			.webos__video-text
				| BEAN BIRD — Диагноз

		.webos__video-item
			.webos__video-clip
				img.webos__video-img(src="assets/images/webos/content/video-4.jpg")
				.webos__video-play

			.webos__video-text
				| BEAN BIRD is Coming!


