.screen {
	position: relative;
	padding: 140px 0 84px;
	border-bottom: 1px solid #f3f3f3;


	&-wrap {
		position: relative;
		z-index: 2;
		float: right;
		width: 428px;
	}

	&__img {
		position: absolute;
		z-index: 4;
		top: 94px;
		left: 90px;
		width: 548px;
		height: 350px;
		background: url('../images/oled/screen-bg.png') 0 0 no-repeat;
	}

	&__img-anim1 {
		position: absolute;
		z-index: 2;
		top: 55px;
		left: -69px;
		width: 274px;
		height: 66px;
		background: url('../images/oled/screen-1.jpg') 0 0 no-repeat;
	}

	&__img-anim2 {
		position: absolute;
		z-index: 3;
		top: 9px;
		left: -134px;
		width: 404px;
		height: 404px;
		background: url('../images/oled/screen-2.png') 0 0 no-repeat;
	}

	&__img-anim3 {
		position: absolute;
		z-index: 1;
		top: 9px;
		left: -134px;
		width: 404px;
		height: 404px;
		background: url('../images/oled/screen-3.jpg') 0 0 no-repeat;
	}

}
