.helvetica-medium() {
	font-family: 'helvetica-medium', Helvetica, Arial, sans-serif !important;
}

.helvetica-light() {
	font-family: 'helvetica-light', Helvetica, Arial, sans-serif !important;
}

.helvetica-neue-roman() {
	font-family: 'HelveticaNeue-Roman', Helvetica, Arial, sans-serif !important;
}

.helvetica-neue-light() {
	font-family: 'HelveticaNeue-Light', Helvetica, Arial, sans-serif !important;
}

.helvetica-neue-thin() {
	font-family: 'HelveticaNeue-Thin', Helvetica, Arial, sans-serif !important;
}

.lgsmart-regular() {
	font-family: 'LGSmart-Regular', Helvetica, Arial, sans-serif !important;
}

.lgsmart-bold() {
	font-family: 'LGSmart-Bold', Helvetica, Arial, sans-serif !important;
}

.lgsmart-bolditalic() {
	font-family: 'LGSmart-BoldItalic', Helvetica, Arial, sans-serif !important;
}

.lgsmart-light() {
	font-family: 'LGSmart-Light', Helvetica, Arial, sans-serif !important;
}

.lgsmart-italic() {
	font-family: 'LGSmart-Italic', Helvetica, Arial, sans-serif !important;
}

.lgsmart-semibold() {
	font-family: 'LGSmart-Semibold', Helvetica, Arial, sans-serif !important;
}

.clearfix:after {
	content: ' ';
	display: table;
	font-size: 0;
	clear: both;
	visibility: hidden;
}
