/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@logo-cinema-3d-name: logo_cinema-3d;
@logo-cinema-3d-x: 0px;
@logo-cinema-3d-y: 70px;
@logo-cinema-3d-offset-x: 0px;
@logo-cinema-3d-offset-y: -70px;
@logo-cinema-3d-width: 150px;
@logo-cinema-3d-height: 24px;
@logo-cinema-3d-total-width: 190px;
@logo-cinema-3d-total-height: 180px;
@logo-cinema-3d-image: '../images/sprite.png';
@logo-cinema-3d: 0px 70px 0px -70px 150px 24px 190px 180px '../images/sprite.png' logo_cinema-3d;
@logo-dvb-t2-name: logo_dvb-t2;
@logo-dvb-t2-x: 0px;
@logo-dvb-t2-y: 160px;
@logo-dvb-t2-offset-x: 0px;
@logo-dvb-t2-offset-y: -160px;
@logo-dvb-t2-width: 80px;
@logo-dvb-t2-height: 20px;
@logo-dvb-t2-total-width: 190px;
@logo-dvb-t2-total-height: 180px;
@logo-dvb-t2-image: '../images/sprite.png';
@logo-dvb-t2: 0px 160px 0px -160px 80px 20px 190px 180px '../images/sprite.png' logo_dvb-t2;
@logo-ips-name: logo_ips;
@logo-ips-x: 88px;
@logo-ips-y: 160px;
@logo-ips-offset-x: -88px;
@logo-ips-offset-y: -160px;
@logo-ips-width: 50px;
@logo-ips-height: 16px;
@logo-ips-total-width: 190px;
@logo-ips-total-height: 180px;
@logo-ips-image: '../images/sprite.png';
@logo-ips: 88px 160px -88px -160px 50px 16px 190px 180px '../images/sprite.png' logo_ips;
@logo-oled-4k-name: logo_oled-4k;
@logo-oled-4k-x: 0px;
@logo-oled-4k-y: 102px;
@logo-oled-4k-offset-x: 0px;
@logo-oled-4k-offset-y: -102px;
@logo-oled-4k-width: 148px;
@logo-oled-4k-height: 20px;
@logo-oled-4k-total-width: 190px;
@logo-oled-4k-total-height: 180px;
@logo-oled-4k-image: '../images/sprite.png';
@logo-oled-4k: 0px 102px 0px -102px 148px 20px 190px 180px '../images/sprite.png' logo_oled-4k;
@logo-oled-name: logo_oled;
@logo-oled-x: 0px;
@logo-oled-y: 130px;
@logo-oled-offset-x: 0px;
@logo-oled-offset-y: -130px;
@logo-oled-width: 134px;
@logo-oled-height: 22px;
@logo-oled-total-width: 190px;
@logo-oled-total-height: 180px;
@logo-oled-image: '../images/sprite.png';
@logo-oled: 0px 130px 0px -130px 134px 22px 190px 180px '../images/sprite.png' logo_oled;
@logo-ultra-name: logo_ultra;
@logo-ultra-x: 0px;
@logo-ultra-y: 0px;
@logo-ultra-offset-x: 0px;
@logo-ultra-offset-y: 0px;
@logo-ultra-width: 190px;
@logo-ultra-height: 26px;
@logo-ultra-total-width: 190px;
@logo-ultra-total-height: 180px;
@logo-ultra-image: '../images/sprite.png';
@logo-ultra: 0px 0px 0px 0px 190px 26px 190px 180px '../images/sprite.png' logo_ultra;
@logo-webos-name: logo_webos;
@logo-webos-x: 0px;
@logo-webos-y: 34px;
@logo-webos-offset-x: 0px;
@logo-webos-offset-y: -34px;
@logo-webos-width: 134px;
@logo-webos-height: 28px;
@logo-webos-total-width: 190px;
@logo-webos-total-height: 180px;
@logo-webos-image: '../images/sprite.png';
@logo-webos: 0px 34px 0px -34px 134px 28px 190px 180px '../images/sprite.png' logo_webos;
@spritesheet-width: 190px;
@spritesheet-height: 180px;
@spritesheet-image: '../images/sprite.png';
@spritesheet-sprites: @logo-cinema-3d @logo-dvb-t2 @logo-ips @logo-oled-4k @logo-oled @logo-ultra @logo-webos;
@spritesheet: 190px 180px '../images/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 10);
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
