/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@badge-colorprime-name: badge-colorprime;
@badge-colorprime-x: 222px;
@badge-colorprime-y: 107px;
@badge-colorprime-offset-x: -222px;
@badge-colorprime-offset-y: -107px;
@badge-colorprime-width: 106px;
@badge-colorprime-height: 20px;
@badge-colorprime-total-width: 403px;
@badge-colorprime-total-height: 366px;
@badge-colorprime-image: '../images/sprite.png';
@badge-colorprime: 222px 107px -222px -107px 106px 20px 403px 366px '../images/sprite.png' badge-colorprime;
@badge-webos-name: badge-webos;
@badge-webos-x: 295px;
@badge-webos-y: 201px;
@badge-webos-offset-x: -295px;
@badge-webos-offset-y: -201px;
@badge-webos-width: 90px;
@badge-webos-height: 18px;
@badge-webos-total-width: 403px;
@badge-webos-total-height: 366px;
@badge-webos-image: '../images/sprite.png';
@badge-webos: 295px 201px -295px -201px 90px 18px 403px 366px '../images/sprite.png' badge-webos;
@icon-audio-hover-name: icon_audio-hover;
@icon-audio-hover-x: 96px;
@icon-audio-hover-y: 151px;
@icon-audio-hover-offset-x: -96px;
@icon-audio-hover-offset-y: -151px;
@icon-audio-hover-width: 88px;
@icon-audio-hover-height: 42px;
@icon-audio-hover-total-width: 403px;
@icon-audio-hover-total-height: 366px;
@icon-audio-hover-image: '../images/sprite.png';
@icon-audio-hover: 96px 151px -96px -151px 88px 42px 403px 366px '../images/sprite.png' icon_audio-hover;
@icon-audio-name: icon_audio;
@icon-audio-x: 0px;
@icon-audio-y: 151px;
@icon-audio-offset-x: 0px;
@icon-audio-offset-y: -151px;
@icon-audio-width: 88px;
@icon-audio-height: 42px;
@icon-audio-total-width: 403px;
@icon-audio-total-height: 366px;
@icon-audio-image: '../images/sprite.png';
@icon-audio: 0px 151px 0px -151px 88px 42px 403px 366px '../images/sprite.png' icon_audio;
@icon-console-all-name: icon_console-all;
@icon-console-all-x: 0px;
@icon-console-all-y: 338px;
@icon-console-all-offset-x: 0px;
@icon-console-all-offset-y: -338px;
@icon-console-all-width: 26px;
@icon-console-all-height: 28px;
@icon-console-all-total-width: 403px;
@icon-console-all-total-height: 366px;
@icon-console-all-image: '../images/sprite.png';
@icon-console-all: 0px 338px 0px -338px 26px 28px 403px 366px '../images/sprite.png' icon_console-all;
@icon-console-click-name: icon_console-click;
@icon-console-click-x: 162px;
@icon-console-click-y: 289px;
@icon-console-click-offset-x: -162px;
@icon-console-click-offset-y: -289px;
@icon-console-click-width: 14px;
@icon-console-click-height: 16px;
@icon-console-click-total-width: 403px;
@icon-console-click-total-height: 366px;
@icon-console-click-image: '../images/sprite.png';
@icon-console-click: 162px 289px -162px -289px 14px 16px 403px 366px '../images/sprite.png' icon_console-click;
@icon-console-menu-name: icon_console-menu;
@icon-console-menu-x: 204px;
@icon-console-menu-y: 261px;
@icon-console-menu-offset-x: -204px;
@icon-console-menu-offset-y: -261px;
@icon-console-menu-width: 20px;
@icon-console-menu-height: 15px;
@icon-console-menu-total-width: 403px;
@icon-console-menu-total-height: 366px;
@icon-console-menu-image: '../images/sprite.png';
@icon-console-menu: 204px 261px -204px -261px 20px 15px 403px 366px '../images/sprite.png' icon_console-menu;
@icon-console-voice-name: icon_console-voice;
@icon-console-voice-x: 378px;
@icon-console-voice-y: 71px;
@icon-console-voice-offset-x: -378px;
@icon-console-voice-offset-y: -71px;
@icon-console-voice-width: 20px;
@icon-console-voice-height: 17px;
@icon-console-voice-total-width: 403px;
@icon-console-voice-total-height: 366px;
@icon-console-voice-image: '../images/sprite.png';
@icon-console-voice: 378px 71px -378px -71px 20px 17px 403px 366px '../images/sprite.png' icon_console-voice;
@icon-console-wheel-name: icon_console-wheel;
@icon-console-wheel-x: 34px;
@icon-console-wheel-y: 338px;
@icon-console-wheel-offset-x: -34px;
@icon-console-wheel-offset-y: -338px;
@icon-console-wheel-width: 18px;
@icon-console-wheel-height: 27px;
@icon-console-wheel-total-width: 403px;
@icon-console-wheel-total-height: 366px;
@icon-console-wheel-image: '../images/sprite.png';
@icon-console-wheel: 34px 338px -34px -338px 18px 27px 403px 366px '../images/sprite.png' icon_console-wheel;
@icon-home-name: icon_home;
@icon-home-x: 117px;
@icon-home-y: 201px;
@icon-home-offset-x: -117px;
@icon-home-offset-y: -201px;
@icon-home-width: 46px;
@icon-home-height: 46px;
@icon-home-total-width: 403px;
@icon-home-total-height: 366px;
@icon-home-image: '../images/sprite.png';
@icon-home: 117px 201px -117px -201px 46px 46px 403px 366px '../images/sprite.png' icon_home;
@icon-monitor-hover-name: icon_monitor-hover;
@icon-monitor-hover-x: 171px;
@icon-monitor-hover-y: 201px;
@icon-monitor-hover-offset-x: -171px;
@icon-monitor-hover-offset-y: -201px;
@icon-monitor-hover-width: 54px;
@icon-monitor-hover-height: 36px;
@icon-monitor-hover-total-width: 403px;
@icon-monitor-hover-total-height: 366px;
@icon-monitor-hover-image: '../images/sprite.png';
@icon-monitor-hover: 171px 201px -171px -201px 54px 36px 403px 366px '../images/sprite.png' icon_monitor-hover;
@icon-monitor-name: icon_monitor;
@icon-monitor-x: 233px;
@icon-monitor-y: 201px;
@icon-monitor-offset-x: -233px;
@icon-monitor-offset-y: -201px;
@icon-monitor-width: 54px;
@icon-monitor-height: 36px;
@icon-monitor-total-width: 403px;
@icon-monitor-total-height: 366px;
@icon-monitor-image: '../images/sprite.png';
@icon-monitor: 233px 201px -233px -201px 54px 36px 403px 366px '../images/sprite.png' icon_monitor;
@icon-oled-4k-mini-name: icon_oled-4k-mini;
@icon-oled-4k-mini-x: 146px;
@icon-oled-4k-mini-y: 261px;
@icon-oled-4k-mini-offset-x: -146px;
@icon-oled-4k-mini-offset-y: -261px;
@icon-oled-4k-mini-width: 50px;
@icon-oled-4k-mini-height: 16px;
@icon-oled-4k-mini-total-width: 403px;
@icon-oled-4k-mini-total-height: 366px;
@icon-oled-4k-mini-image: '../images/sprite.png';
@icon-oled-4k-mini: 146px 261px -146px -261px 50px 16px 403px 366px '../images/sprite.png' icon_oled-4k-mini;
@icon-oled-4k-name: icon_oled-4k;
@icon-oled-4k-x: 320px;
@icon-oled-4k-y: 151px;
@icon-oled-4k-offset-x: -320px;
@icon-oled-4k-offset-y: -151px;
@icon-oled-4k-width: 63px;
@icon-oled-4k-height: 33px;
@icon-oled-4k-total-width: 403px;
@icon-oled-4k-total-height: 366px;
@icon-oled-4k-image: '../images/sprite.png';
@icon-oled-4k: 320px 151px -320px -151px 63px 33px 403px 366px '../images/sprite.png' icon_oled-4k;
@icon-oled-infinity-mini-name: icon_oled-infinity-mini;
@icon-oled-infinity-mini-x: 336px;
@icon-oled-infinity-mini-y: 107px;
@icon-oled-infinity-mini-offset-x: -336px;
@icon-oled-infinity-mini-offset-y: -107px;
@icon-oled-infinity-mini-width: 63px;
@icon-oled-infinity-mini-height: 16px;
@icon-oled-infinity-mini-total-width: 403px;
@icon-oled-infinity-mini-total-height: 366px;
@icon-oled-infinity-mini-image: '../images/sprite.png';
@icon-oled-infinity-mini: 336px 107px -336px -107px 63px 16px 403px 366px '../images/sprite.png' icon_oled-infinity-mini;
@icon-oled-infinity-name: icon_oled-infinity;
@icon-oled-infinity-x: 101px;
@icon-oled-infinity-y: 289px;
@icon-oled-infinity-offset-x: -101px;
@icon-oled-infinity-offset-y: -289px;
@icon-oled-infinity-width: 53px;
@icon-oled-infinity-height: 26px;
@icon-oled-infinity-total-width: 403px;
@icon-oled-infinity-total-height: 366px;
@icon-oled-infinity-image: '../images/sprite.png';
@icon-oled-infinity: 101px 289px -101px -289px 53px 26px 403px 366px '../images/sprite.png' icon_oled-infinity;
@icon-oled-pixel-name: icon_oled-pixel;
@icon-oled-pixel-x: 0px;
@icon-oled-pixel-y: 289px;
@icon-oled-pixel-offset-x: 0px;
@icon-oled-pixel-offset-y: -289px;
@icon-oled-pixel-width: 41px;
@icon-oled-pixel-height: 41px;
@icon-oled-pixel-total-width: 403px;
@icon-oled-pixel-total-height: 366px;
@icon-oled-pixel-image: '../images/sprite.png';
@icon-oled-pixel: 0px 289px 0px -289px 41px 41px 403px 366px '../images/sprite.png' icon_oled-pixel;
@icon-oled-respond-mini-name: icon_oled-respond-mini;
@icon-oled-respond-mini-x: 356px;
@icon-oled-respond-mini-y: 37px;
@icon-oled-respond-mini-offset-x: -356px;
@icon-oled-respond-mini-offset-y: -37px;
@icon-oled-respond-mini-width: 45px;
@icon-oled-respond-mini-height: 20px;
@icon-oled-respond-mini-total-width: 403px;
@icon-oled-respond-mini-total-height: 366px;
@icon-oled-respond-mini-image: '../images/sprite.png';
@icon-oled-respond-mini: 356px 37px -356px -37px 45px 20px 403px 366px '../images/sprite.png' icon_oled-respond-mini;
@icon-oled-respond-name: icon_oled-respond;
@icon-oled-respond-x: 49px;
@icon-oled-respond-y: 289px;
@icon-oled-respond-offset-x: -49px;
@icon-oled-respond-offset-y: -289px;
@icon-oled-respond-width: 44px;
@icon-oled-respond-height: 35px;
@icon-oled-respond-total-width: 403px;
@icon-oled-respond-total-height: 366px;
@icon-oled-respond-image: '../images/sprite.png';
@icon-oled-respond: 49px 289px -49px -289px 44px 35px 403px 366px '../images/sprite.png' icon_oled-respond;
@icon-oled-wrgb-name: icon_oled-wrgb;
@icon-oled-wrgb-x: 60px;
@icon-oled-wrgb-y: 201px;
@icon-oled-wrgb-offset-x: -60px;
@icon-oled-wrgb-offset-y: -201px;
@icon-oled-wrgb-width: 49px;
@icon-oled-wrgb-height: 47px;
@icon-oled-wrgb-total-width: 403px;
@icon-oled-wrgb-total-height: 366px;
@icon-oled-wrgb-image: '../images/sprite.png';
@icon-oled-wrgb: 60px 201px -60px -201px 49px 47px 403px 366px '../images/sprite.png' icon_oled-wrgb;
@icon-tv-hover-name: icon_tv-hover;
@icon-tv-hover-x: 256px;
@icon-tv-hover-y: 151px;
@icon-tv-hover-offset-x: -256px;
@icon-tv-hover-offset-y: -151px;
@icon-tv-hover-width: 56px;
@icon-tv-hover-height: 42px;
@icon-tv-hover-total-width: 403px;
@icon-tv-hover-total-height: 366px;
@icon-tv-hover-image: '../images/sprite.png';
@icon-tv-hover: 256px 151px -256px -151px 56px 42px 403px 366px '../images/sprite.png' icon_tv-hover;
@icon-tv-name: icon_tv;
@icon-tv-x: 192px;
@icon-tv-y: 151px;
@icon-tv-offset-x: -192px;
@icon-tv-offset-y: -151px;
@icon-tv-width: 56px;
@icon-tv-height: 42px;
@icon-tv-total-width: 403px;
@icon-tv-total-height: 366px;
@icon-tv-image: '../images/sprite.png';
@icon-tv: 192px 151px -192px -151px 56px 42px 403px 366px '../images/sprite.png' icon_tv;
@logo-cinema-3d-name: logo_cinema-3d;
@logo-cinema-3d-x: 198px;
@logo-cinema-3d-y: 37px;
@logo-cinema-3d-offset-x: -198px;
@logo-cinema-3d-offset-y: -37px;
@logo-cinema-3d-width: 150px;
@logo-cinema-3d-height: 24px;
@logo-cinema-3d-total-width: 403px;
@logo-cinema-3d-total-height: 366px;
@logo-cinema-3d-image: '../images/sprite.png';
@logo-cinema-3d: 198px 37px -198px -37px 150px 24px 403px 366px '../images/sprite.png' logo_cinema-3d;
@logo-dvb-t2-name: logo_dvb-t2;
@logo-dvb-t2-x: 0px;
@logo-dvb-t2-y: 261px;
@logo-dvb-t2-offset-x: 0px;
@logo-dvb-t2-offset-y: -261px;
@logo-dvb-t2-width: 80px;
@logo-dvb-t2-height: 20px;
@logo-dvb-t2-total-width: 403px;
@logo-dvb-t2-total-height: 366px;
@logo-dvb-t2-image: '../images/sprite.png';
@logo-dvb-t2: 0px 261px 0px -261px 80px 20px 403px 366px '../images/sprite.png' logo_dvb-t2;
@logo-ips-name: logo_ips;
@logo-ips-x: 88px;
@logo-ips-y: 261px;
@logo-ips-offset-x: -88px;
@logo-ips-offset-y: -261px;
@logo-ips-width: 50px;
@logo-ips-height: 16px;
@logo-ips-total-width: 403px;
@logo-ips-total-height: 366px;
@logo-ips-image: '../images/sprite.png';
@logo-ips: 88px 261px -88px -261px 50px 16px 403px 366px '../images/sprite.png' logo_ips;
@logo-oled-4k-big-name: logo_oled-4k-big;
@logo-oled-4k-big-x: 200px;
@logo-oled-4k-big-y: 0px;
@logo-oled-4k-big-offset-x: -200px;
@logo-oled-4k-big-offset-y: 0px;
@logo-oled-4k-big-width: 203px;
@logo-oled-4k-big-height: 26px;
@logo-oled-4k-big-total-width: 403px;
@logo-oled-4k-big-total-height: 366px;
@logo-oled-4k-big-image: '../images/sprite.png';
@logo-oled-4k-big: 200px 0px -200px 0px 203px 26px 403px 366px '../images/sprite.png' logo_oled-4k-big;
@logo-oled-4k-name: logo_oled-4k;
@logo-oled-4k-x: 222px;
@logo-oled-4k-y: 71px;
@logo-oled-4k-offset-x: -222px;
@logo-oled-4k-offset-y: -71px;
@logo-oled-4k-width: 148px;
@logo-oled-4k-height: 20px;
@logo-oled-4k-total-width: 403px;
@logo-oled-4k-total-height: 366px;
@logo-oled-4k-image: '../images/sprite.png';
@logo-oled-4k: 222px 71px -222px -71px 148px 20px 403px 366px '../images/sprite.png' logo_oled-4k;
@logo-oled-white-name: logo_oled-white;
@logo-oled-white-x: 0px;
@logo-oled-white-y: 0px;
@logo-oled-white-offset-x: 0px;
@logo-oled-white-offset-y: 0px;
@logo-oled-white-width: 192px;
@logo-oled-white-height: 29px;
@logo-oled-white-total-width: 403px;
@logo-oled-white-total-height: 366px;
@logo-oled-white-image: '../images/sprite.png';
@logo-oled-white: 0px 0px 0px 0px 192px 29px 403px 366px '../images/sprite.png' logo_oled-white;
@logo-oled-name: logo_oled;
@logo-oled-x: 80px;
@logo-oled-y: 107px;
@logo-oled-offset-x: -80px;
@logo-oled-offset-y: -107px;
@logo-oled-width: 134px;
@logo-oled-height: 22px;
@logo-oled-total-width: 403px;
@logo-oled-total-height: 366px;
@logo-oled-image: '../images/sprite.png';
@logo-oled: 80px 107px -80px -107px 134px 22px 403px 366px '../images/sprite.png' logo_oled;
@logo-ultra-name: logo_ultra;
@logo-ultra-x: 0px;
@logo-ultra-y: 37px;
@logo-ultra-offset-x: 0px;
@logo-ultra-offset-y: -37px;
@logo-ultra-width: 190px;
@logo-ultra-height: 26px;
@logo-ultra-total-width: 403px;
@logo-ultra-total-height: 366px;
@logo-ultra-image: '../images/sprite.png';
@logo-ultra: 0px 37px 0px -37px 190px 26px 403px 366px '../images/sprite.png' logo_ultra;
@logo-webos-name: logo_webos;
@logo-webos-x: 80px;
@logo-webos-y: 71px;
@logo-webos-offset-x: -80px;
@logo-webos-offset-y: -71px;
@logo-webos-width: 134px;
@logo-webos-height: 28px;
@logo-webos-total-width: 403px;
@logo-webos-total-height: 366px;
@logo-webos-image: '../images/sprite.png';
@logo-webos: 80px 71px -80px -71px 134px 28px 403px 366px '../images/sprite.png' logo_webos;
@play-red-name: play-red;
@play-red-x: 0px;
@play-red-y: 201px;
@play-red-offset-x: 0px;
@play-red-offset-y: -201px;
@play-red-width: 52px;
@play-red-height: 52px;
@play-red-total-width: 403px;
@play-red-total-height: 366px;
@play-red-image: '../images/sprite.png';
@play-red: 0px 201px 0px -201px 52px 52px 403px 366px '../images/sprite.png' play-red;
@play-name: play;
@play-x: 0px;
@play-y: 71px;
@play-offset-x: 0px;
@play-offset-y: -71px;
@play-width: 72px;
@play-height: 72px;
@play-total-width: 403px;
@play-total-height: 366px;
@play-image: '../images/sprite.png';
@play: 0px 71px 0px -71px 72px 72px 403px 366px '../images/sprite.png' play;
@spritesheet-width: 403px;
@spritesheet-height: 366px;
@spritesheet-image: '../images/sprite.png';
@spritesheet-sprites: @badge-colorprime @badge-webos @icon-audio-hover @icon-audio @icon-console-all @icon-console-click @icon-console-menu @icon-console-voice @icon-console-wheel @icon-home @icon-monitor-hover @icon-monitor @icon-oled-4k-mini @icon-oled-4k @icon-oled-infinity-mini @icon-oled-infinity @icon-oled-pixel @icon-oled-respond-mini @icon-oled-respond @icon-oled-wrgb @icon-tv-hover @icon-tv @logo-cinema-3d @logo-dvb-t2 @logo-ips @logo-oled-4k-big @logo-oled-4k @logo-oled-white @logo-oled @logo-ultra @logo-webos @play-red @play;
@spritesheet: 403px 366px '../images/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 10);
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
