.colorprime {
	position: relative;
	padding: 107px 0 85px;
	border-bottom: 1px solid #f3f3f3;
	border-top: 1px solid #f3f3f3;

	&-wrap {
		width: 428px;
		margin-bottom: 42px;
	}

	&__btn {
		margin: 0;
	}

	&__logo {
		margin: 0 35px 0 14px;
		display: inline-block;
		.sprite(@icon-ultra-colorprime-medium)
	}

	&__chek {

		& + label {
			position: relative;
			height: 20px;
			width: 35px;
			display: inline-block;
			background-color: #e9e9e9;
			border-radius: 20px;
			transition: background-color .3s ease;
			cursor: default;
		}

		&:not(checked) {
			position: absolute !important;
			opacity: 0 !important;

			& + label {

				&:before {
					position: absolute;
					top: -2px;
					left: -2px;
					content: '';
					.sprite(@switcher);
					transition: left .3s ease
				}
			}
		}

		&:checked {

			& + label {
				background-color: #f04879;

				&:before {
					left: 13px;
				}
			}
		}
	}

	&__img1 {
		position: absolute;
		z-index: 2;
		top: 80px;
		right: -37px;
		width: 527px;
		height: 362px;
		background: url('../images/ultra/colorprime-bg.jpg') 0 0 no-repeat;
	}

	&__img2 {
		position: absolute;
		z-index: 1;
		top: 80px;
		right: -37px;
		width: 527px;
		height: 362px;
		background: url('../images/ultra/colorprime-bg-before.jpg') 0 0 no-repeat;
	}

	&__line {
		position: absolute;
		z-index: 3;
		top: 65px;
		right: 4px;
		width: 486px;
		border-bottom: 2px solid #d61049;
	}

}
