section.submenu(role="menubar")
	a.submenu__item(href=jv0)
		.submenu__item-logo.submenu__item-logo_type_tv
		.submenu__item-text TV

	a.submenu__item(href=jv0)
		.submenu__item-logo.submenu__item-logo_type_audio
		.submenu__item-text Аудио

	a.submenu__item(href=jv0)
		.submenu__item-logo.submenu__item-logo_type_monitor
		.submenu__item-text Мониторы


