section.technology
	.technology__title
		| Технологии LG для идеального качества изображения

	.technology-wrap.clearfix
		.technology__item

			.technology__item-container
				.technology__item-img.technology__item-img_type_cinema-3d
				.technology__item-logo.technology__item-logo_type_cinema-3d

			.technology__item-text
				| Оцените разницу между LG&nbsp;Cinema 3D и обычным 3D

		.technology__item

			.technology__item-container
				.technology__item-img.technology__item-img_type_dvb-t2
				.technology__item-logo.technology__item-logo_type_dvb-t2

			.technology__item-text
				| Эфирное цифровое телевидение

		.technology__item

			.technology__item-container
				.technology__item-img.technology__item-img_type_oled-4k
				.technology__item-logo.technology__item-logo_type_oled-4k

			.technology__item-text
				| Подробнее о технологии OLED

		.technology__item

			.technology__item-container
				.technology__item-img.technology__item-img_type_ips
				.technology__item-logo.technology__item-logo_type_ips

			.technology__item-text
				| Самые реалистичные цвета в телевизорах LG с технологией IPS
