section.console

	h2.title.title_mb_8(role="heading") Пульт Magic Remote

	p.text
		| Пульт Magic Remote – невероятно простой и удобный способ управления всеми
		| возможностями webOS. По своей интуитивности он может поспорить с компьютерной
		| мышкой. Встроенный микрофон для голосовых команд и дополнительные кнопки
		| с цифрами позволяют с&nbsp;легкостью заменить кнопочный пульт.

	.console-container

		.console-wrap

			.console__item
				.console__item-logo.console__item-logo_type_all

				h3.console__item-title Универсальный пульт

				.text.text_lh_21
					| Можно использовать ваш пульт от телевизора еще и для других устройств,
					| например внешней аудиoсистемы, BluRay-проигрывателя или даже спутникового
					| ресивера. Один пульт для всех устройств —максимальное удобство.

			.console__item
				.console__item-logo.console__item-logo_type_voice

				h3.console__item-title Голосовое управление

				.text.text_lh_21
					span В
					= " "
					span.text.text_font_sm Magic Remote
					= " "
					span
						| встроен микрофон. Вы можете давать телевизору голосовые команды
						| или же вместо утомительного набора текста просто надиктовать его.
						| Для моделей со встроенным микрофоном можете давать команды телевизору
						| прямо с дивана.

		.console__item
			.console__item-logo.console__item-logo_type_menu

			h3.console__item-title Меню

			.text
				span Нажмите эту кнопку, чтобы увидеть ваши приложения и сервисы
				= " "
				span.text.text_font_sm Smart TV.

		.console__item
			.console__item-logo.console__item-logo_type_wheel

			h3.console__item-title Колесико

			.text
				| Для максимального удобства в  пульт добавлено колесико для прокрутки
				| между экранами в&nbsp;интернет-браузере или в приложениях.

		.console__item
			.console__item-logo.console__item-logo_type_click

			h3.console__item-title Наведи-и-Кликни

			.text
				span Использовать
				= " "
				span.text.text_font_sm Magic Remote
				= " "
				span
					| так же просто, как и&nbsp;обычную компьютерную мышку. Наведите
					| курсор и кликните.
