section.infinity.clearfix

	.infinity-wrap

		h2.title(role="heading") Бесконечная контрастность изображения

		p.text
			| Самоизлучающие пиксели OLED способны полностью выключаться там,
			| где нужно показать максимально глубокий черный цвет. При этом точное
			| 10-битное управление позволяет прорисовать мельчайшие детали в тенях,
			| а в сочетании с яркими пикселями достигается безграничная контрастность.
