nav.menu
	a.menu__item(href=jv0)
		.menu__item-logo.menu__item-logo_type_ultra

		.menu__item-wrap
			.menu__item-text
				| Ультрачеткость в каждой детали

			.menu__item-img.menu__item-img_type_ultra

	a.menu__item(href=jv0)
		.menu__item-logo.menu__item-logo_type_oled

		.menu__item-wrap
			.menu__item-text
				| Совершенный цвет, бесконечная контрастность

			.menu__item-img.menu__item-img_type_oled

	a.menu__item(href=jv0)
		.menu__item-logo.menu__item-logo_type_webos

		.menu__item-wrap
			.menu__item-text
				| Смотрите, как просто с webOS

			.menu__item-img.menu__item-img_type_webos
