nav.menu
	a.menu__item.menu__item_pos_left(href=jv0)
		.menu__item-logo.menu__item-logo_type_ultra

		.menu__item-wrap
			.menu__item-text
				| Ультрачеткость
				br
				| в каждой детали

			.menu__item-img.menu__item-img_type_ultra
			.menu__item-badge.menu__item-badge_type_ultra

	a.menu__item.menu__item_pos_center(href=jv0)
		.menu__item-logo.menu__item-logo_type_oled

		.menu__item-wrap
			.menu__item-text.menu__item-text_pos_center
				| Совершенный цвет,
				br
				| бесконечная контрастность

			.menu__item-img.menu__item-img_type_oled

	a.menu__item.menu__item_pos_right(href=jv0)
		.menu__item-logo.menu__item-logo_type_webos

		.menu__item-wrap
			.menu__item-text
				| Смотрите,
				br
				| как просто!

			.menu__item-img.menu__item-img_type_webos
			.menu__item-badge.menu__item-badge_type_webos
