section.pixel.clearfix

	.pixel__video
		img.pixel__video-img(src="assets/images/oled/pixel-bg.png")
		.pixel__video-play

	.pixel-wrap

		h2.title(role="heading") Самоизлучающие пиксели

		p.text
			| Матрица OLED-телевизора, в отличие от LED LCD, состоит из миллионов
			| самоизлучающих пикселей. Каждый из них контролируется индивидуально,
			| и нет никаких проблем с тем, чтобы показать предельное сочетание
			| ярких, насыщенных красок и бездонно глубокого черного цвета. Таким
			| образом, OLED-телевизор достигает поистине ультимативный контраст,
			| приближая изображение к&nbsp;реальности.
