section.setup(class= classMod ? classMod : "")
	.setup-wrap

		h2.title.title_mb_3(role="heading" class= titleMod ? titleMod : "") Легкая настройка
		h3.title.title_type_sub Быстро, просто, весело

		p.text
			| WebOS содержит сотни приложений, тысячи фильмов и дает доступ к
			| другому контенту. Дружелюбный интерфейс webOS будет понятен даже
			| новичкам без опыта использования Smart TV. Многозадачный режим
			| позволяет работать одновременно с несколькими приложениями, раскрывая
			| и сворачивая их по мере надобности.

		p.text
			| А чтобы не потеряться в общем изобилии, к вашим услугам есть
			| специальный сервис, подбирающий рекомендованный контент из интернета
			| и локальных ресурсов.
