section.setup#setupSection(class= classMod ? classMod : "")

	.wrapper.clearfix

		.setup-wrap

			h2.title(role="heading" class= titleMod ? titleMod : "")
				| Широкие возможности webOS

			p.text
				| WebOS содержит сотни приложений, тысячи фильмов и&nbsp;дает доступ к
				| другому контенту. Дружелюбный интерфейс webOS будет понятен даже
				| новичкам без опыта использования Smart TV. Многозадачный режим
				| позволяет работать одновременно с несколькими приложениями, раскрывая
				| и сворачивая их по мере надобности.

			p.text
				| А чтобы не потеряться в общем изобилии, к вашим услугам есть
				| специальный сервис, подбирающий рекомендованный контент из интернета
				| и локальных ресурсов.

	.setup__help(
		data-700-top="opacity: 0"
		data-600-top="opacity: 1")

	.setup__lines(
		data-600-top="opacity: 0"
		data-500-top="opacity: 1")

	.setup__img

	.setup__container.js-setup-cont
		.setup__block
		.setup__block
		.setup__block
		.setup__block
		.setup__block
		.setup__block
		.setup__block

		.setup__point.js-setup-point
