section.stream.clearfix
	.stream-wrap

		h2.title(role="heading") Смотрите 4K-видео через&nbsp;интернет

		p.text
			| Популярные видеосервисы Okko и ivi.ru запустили на телевизорах
			| LG стриминг 4K-фильмов через интернет. Это стало возможным благодаря
			| мощной аппаратной начинке LG и поддержке новейшего кодека HEVC.
			| Ваш телевизор уже готов к переходу онлайн-кинотеатров на
			| требовательный формат ULTRA HD 4K.

	.stream__img
	.stream__logo
