section.action

	.action-wrap

		h2.title(role="heading") Абсолютная четкость динамичных сцен

		p.text
			| Время отклика OLED на порядки опережает LED LCD, поэтому можно забыть
			| про характерные искажения в&nbsp;движении. Отныне вы можете насладиться
			| кристально четким изображением в динамичных сюжетах, понастоящему
			| погружаясь в гущу событий.

	.action__img1(
		data-600-top="opacity: 1"
		data-300-top="opacity: 0")

	.action__img2
