section.oled

	.oled-wrap.clearfix

		.oled__item.oled__item_width_237

			.oled__item-logo.oled__item-logo_type_pixel

			.oled__item-text
				span.oled__item-text_font_bold Самоподсвечивающиеся пиксели
				br
				span Собственная независимая подсветка каждого пикселя

		.oled__item.oled__item_width_187

			.oled__item-logo.oled__item-logo_type_4k

			.oled__item-text
				span.oled__item-text_font_bold Идеальная четкость
				br
				span 33 000 000 цветовых субпикселей в 4К OLED

		.oled__item.oled__item_width_212

			.oled__item-logo.oled__item-logo_type_wrgb

			.oled__item-text
				span.oled__item-text_font_bold Улучшенная цветопередача
				br
				span благодаря технологии WRGB&nbsp;OLED

		.oled__item.oled__item_width_200

			.oled__item-logo.oled__item-logo_type_infinity

			.oled__item-text
				span.oled__item-text_font_bold Высокая контрастность
				br
				span в 5 раз выше, чем
				br
				span в LCD дисплее

		.oled__item.oled__item_width_177

			.oled__item-logo.oled__item-logo_type_respond

			.oled__item-text
				span.oled__item-text_font_bold Быстрый отклик
				br
				span до 150 раз выше
				br
				span чем LED

