section.oled-4k.clearfix
	.oled-4k-wrap
		.oled-4k__logo
		h2.title(role="heading") 33 миллиона субпикселей

		p.text
			| Технология LG OLED использует уникальную структуру субпикселей
			| WRGB, где к основным цветам (красный, зеленый и синий) добавлен
			| белый субпиксель

		p.text
			| Это позволяет достичь нового уровня яркости и чистоты цветов,
			| одновременно снижая энергопотребление и продлевая ресурс
			| панели. Новый формат ULTRA HD 4K подразумевает разрешение
			| в 4 раза выше Full HD, так что на телевизорах 4K OLED к вашим
			| услугам целых 33 миллиона субпикселей, из которых складывается
			| самое четкое и захватывающее изображение на сегодняшний день.

	.oled-4k__img

	.oled-4k__img-inner(
		data-500-top="transform: rotate(10deg)"
		data-center-center="transform: rotate(-2deg)")

