section.pixel.clearfix

	.pixel__mask-wrap
		.pixel__mask.js-pixel-mask

	.pixel__img.js-pixel-img

	!= "<!--[if !IE]>-->"
		.pixel__video.js-pixel-video#pixelPlayerOled(data-video-id="yZ1OEBLnUQI")
	!= "<!--<![endif]-->"

	!= "<!--[if lte IE 8]>"
		#pixelPlayerOled

		script.

			var params = {
				allowScriptAccess: "always",
				wmode: "opaque"
			};
			var atts = { id: "pixelPlayer" };
			swfobject.embedSWF(
				"http://www.youtube.com/v/yZ1OEBLnUQI?enablejsapi=1&playerapiid=pixelPlayer&version=3&wmode=transparent",
				"pixelPlayerOled", "1025", "450", "8", null, null, params, atts);

	!= "<![endif]-->"

	.pixel__play.js-play-btn

	.pixel-wrap.js-pixel-text

		h2.title(role="heading") Самоподсвечивающиеся пиксели

		p.text
			| Матрица OLED-телевизора, в отличие от LED LCD, состоит из миллионов
			| самоподсвечивающиеся пикселей. Каждый из них контролируется индивидуально,
			| и нет никаких проблем с тем, чтобы показать предельное сочетание
			| ярких, насыщенных красок и бездонно глубокого черного цвета. Таким
			| образом, OLED-телевизор достигает поистине ультимативный контраст,
			| приближая изображение к&nbsp;реальности.
