section.screen.clearfix
	.screen-wrap

		h2.title(role="heading") Изогнутый экран

		p.text
			| Изогнутый экран - это не только причудливый элемент дизайна. Изображение
			| на изогнутом телевизоре обволакивает зрителя и обеспечивает оптимальное
			| удаление как в центре, так и по краям экрана, что снижает визуальные
			| искажения. Это позволяет достичь полного эффекта погружения, словно
			| изображение стало реальностью.

	.screen__img
