section.wrgb

	.wrgb-wrap

		h2.title(role="heading") Безупречные цвета

		p.text
			| OLED-телевизор демонстрирует весьма чистые и глубокие оттенки цветов,
			| превосходящие зауженный спектр типичного телевизора LED LCD. Новые
			| краски придают больше эмоций, любое изображение по-настоящему оживает
			| на OLED-телевизоре.
