.compare {
	padding: 47px 0;

	&__title {
		.helvetica-neue-thin();
		font-size: 25px;
		color: #505050;
		letter-spacing: -.5px;

		&_color_red {
			color: @red-title;
		}
	}

	&__feat {
		float: right;
	}

	&-container {
		padding-top: 54px;
		font-size: 0;
	}
}
