.infinity {
	position: relative;
	padding: 112px 0 113px;
	border-bottom: 1px solid #f3f3f3;
	background: url('../images/oled/infinity-bg.jpg') 0 49px no-repeat;

	&-wrap {
		float: right;
		width: 428px;
	}

}
