.menu {
	position: relative;
	padding-top: 20px;
	width: 100%;
	height: 465px;
	font-size: 0;

	&__item {
		position: relative;
		height: 465px;
		display: inline-block;
		text-align: center;
		vertical-align: top;
		text-decoration: none;

		&_pos {

			&_left,
			&_right {
				width: 27%;
			}

			&_center {
				z-index: 2;
				width: 46%;

				& .menu__item-wrap {
					box-shadow: -5px 2px 5px -2px rgba(0, 0, 0, .3), 5px 2px 5px -2px rgba(0, 0, 0, .3);

					&:hover {
						padding: 0 35px;
					}

				}

			}

		}

	}

	&__item-logo {
		position: relative;
		display: inline-block;

		&_type {

			&_ultra {
				top: -2px;
				.sprite(@logo-ultra);
			}

			&_oled {
				.sprite(@logo-oled);
			}

			&_webos {
				top: -3px;
				.sprite(@logo-webos);
			}

		}

	}

	&__item-wrap {
		position: absolute;
		z-index: 1;
		top: 35px;
		left: 0;
		width: 100%;
		height: 430px;
		background-color: #fff;
		border-top: 1px solid @reb-menu;
		border-bottom: 1px solid @reb-menu;
		box-sizing: border-box;
		transform: translateY(0);
		transition: all .3s ease;
		will-change: width, height, transform;

		&:hover {
			z-index: 3;
			top: 32px;
			width: 126%;
			height: 433px;
			transform: translateX(-13%);
			border-top-width: 4px;
			box-shadow: 0 2px 10px rgb(0, 0, 0);

			& .menu__item-img {

				&_type {

					&_ultra {
						bottom: -20px;
						margin-left: -165px;
						width: 331px;
						height: 356px;
						background-image: url('../images/menu-ultra-hover.png')
					}

					&_oled {
						bottom: -35px;
						margin-left: -210px;
						width: 419px;
						height: 346px;
						background-image: url('../images/menu-oled-hover.png')
					}

					&_webos {
						bottom: 9px;
						margin-left: -167px;
						width: 335px;
						height: 295px;
						background-image: url('../images/menu-webos-hover.png')
					}

				}

			}

		}

	}

	&__item-text {
		padding: 36px 26px 0;
		.helvetica-light();
		font-size: 17px;
		line-height: 28px;
		color: @gray-text;
		text-align: left;
		transition: padding-right .3s ease;

		&_pos_center {
			padding: 36px 45px 0
		}
	}

	&__item-img {
		position: absolute;
		bottom: 0;
		left: 50%;
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: cover;
		transition: all .3s ease;
		will-change: width, height, margin-left, bottom;

		&_type {

			&_ultra {
				margin-left: -138px;
				width: 256px;
				height: 275px;
				background-image: url('../images/menu-ultra.png')
			}

			&_oled {
				margin-left: -184px;
				width: 368px;
				height: 305px;
				background-image: url('../images/menu-oled.png')
			}

			&_webos {
				margin-left: -140px;
				width: 280px;
				height: 265px;
				background-image: url('../images/menu-webos.png')
			}

		}
	}

}
