.oled-4k {
	position: relative;
	padding: 62px 24px 24px 10px;
	border-bottom: 1px solid #f3f3f3;

	&-wrap {
		padding-top: 16px;
		width: 488px;
		float: right;
	}

	&__logo {
		margin-bottom: 6px;
		display: inline-block;
		.sprite(@logo-oled-4k-big);
	}

	&__img {
		width: 494px;
		height: 393px;
		float: left;
		background: url('../images/oled/oled-4k-bg.png') 0 0 no-repeat;
	}

}
