.pixel {
	position: relative;
	margin-top: 50px;
	border-bottom: 1px solid #f3f3f3;
	border-top: 1px solid #f3f3f3;

	&-wrap {
		position: absolute;
		top: 102px;
		left: 0;
		width: 410px;
	}

	&__video {
		position: relative;
		width: 588px;
		height: 452px;
		float: right;

		&-play {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -38px;
			margin-left: 16px;
			.sprite(@play);
			cursor: pointer;
		}
	}
}
