.setup {
	position: relative;
	background: url('../images/oled/setup-bg.jpg') 598px 52px no-repeat;

	& .wrapper {
		padding-bottom: 76px;
		border-bottom: 1px solid #f3f3f3;
	}

	&_type {

		&_webos {
			background: url('../images/webos/setup-bg.jpg') 513px 56px no-repeat;

			& .wrapper {
				padding-top: 68px;
				padding-bottom: 86px;
				border-top: 1px solid #f3f3f3;
			}

			& .setup__help {
				position: absolute;
				top: 115px;
				right: 222px;
				width: 149px;
				height: 59px;
				display: block;
				background: url('../images/webos/help.png') 0 0 no-repeat

			}

			& .setup__lines {
				position: absolute;
				top: 107px;
				right: 193px;
				width: 35px;
				height: 59px;
				display: block;
				background: url('../images/webos/lines.png') 0 0 no-repeat
			}

		}

		&_ultra {
			padding-top: 76px;
			background: url('../images/ultra/setup-bg.jpg') 119px 66px no-repeat;

			& .setup-wrap {
				float: right;
			}

			& .wrapper {
				padding-bottom: 110px;
			}

			& .title {
				margin-bottom: 17px;
			}

		}

	}

	&-wrap {
		width: 428px;
	}

	&__help,
	&__lines {
		display: none;
	}

}
