.technology {
	padding: 0 27px;

	&__title {
		padding-top: 44px;
		padding-bottom: 36px;
		.helvetica-light();
		font-size: 17px;
		line-height: 28px;
		color: @gray-text;
	}

	&__item {
		width: 215px;
		float: left;

		&:first-child {
			margin-left: 5px;
		}

		& + .technology__item {
			margin-left: 20px;
		}
	}

	&__item-container {
		width: 100%;
		height: 188px;
		border: 1px solid #efefef;
		background-color: #fff;
		cursor: pointer;
		transition: background-color .3s ease;

		&:hover {
			background-color: #efefef;
		}
	}

	&__item-img {
		margin: 0 auto;
		background-position: 0 0;
		background-repeat: no-repeat;

		&_type {

			&_cinema-3d {
				margin-top: 12px;
				width: 150px;
				height: 126px;
				background-image: url('../images/cinema-3d.png');
			}

			&_dvb-t2 {
				margin-top: 19px;
				padding-left: 10px;
				width: 166px;
				height: 122px;
				background-image: url('../images/dvb-t2.png');
				background-position-x: 10px;
			}

			&_oled-4k {
				margin-top: 28px;
				width: 200px;
				height: 118px;
				background-image: url('../images/oled-4k.png');
			}

			&_ips {
				margin-top: 31px;
				width: 158px;
				height: 118px;
				background-image: url('../images/ips.png');
			}

		}

	}

	&__item-logo {
		margin: 0 auto;

		&_type {

			&_cinema-3d {
				margin-top: 7px;
				.sprite(@logo-cinema-3d)
			}

			&_dvb-t2 {
				margin-top: 8px;
				.sprite(@logo-dvb-t2)
			}

			&_oled-4k {
				margin-top: 5px;
				.sprite(@logo-oled-4k)
			}

			&_ips {
				margin-top: 4px;
				.sprite(@logo-ips)
			}
		}
	}

	&__item-text {
		margin-top: 15px;
		padding: 0 3px;
		.lgsmart-regular();
		font-size: 17px;
		line-height: 19px;
		color: @dark-gray;
	}
}
