.wrgb {
	position: relative;
	padding: 134px 0 149px;
	border-bottom: 1px solid #f3f3f3;
	background: url('../images/oled/wrgb-bg.jpg') 598px 102px no-repeat;

	&-wrap {
		width: 425px;
	}

}
