.banner {
	position: relative;
	width: 100%;
	height: 442px;
	color: #fff;

	&_type {

		&_ultra {
			background: url('../images/ultra/ultra-bg.jpg') 0 0 no-repeat;

			& .banner__logo {
			}

		}

		&_oled {
			background: url('../images/oled/oled-bg.jpg') 0 0 no-repeat;

			& .banner__logo {
				.sprite(@logo-oled-white)
			}

		}

		&_webos {
			background: url('../images/webos/webos-bg.jpg') 0 0 no-repeat;

			& .banner {

				&__logo {
					.sprite(@logo-webos-white)
				}

				&__info {
					top: 76px;
					right: 61px;
				}

			}

		}

	}

	&__info {
		position: absolute;
		top: 100px;
		right: 130px;
		width: 330px;
	}

	&__logo {
		display: inline-block;
	}

	&__title {
		margin-top: 16px;
		text-transform: uppercase;
		.helvetica-neue-roman();
		font-size: 27px;
		line-height: 36px;
	}

	&__text {
		margin-top: 12px;
		margin-bottom: 35px;
		.helvetica-neue-thin();
		font-size: 26px;
	}

	&__btn {
		position: relative;
		padding: 0 0 0 65px;
		height: 48px;
		display: inline-block;
		.helvetica-neue-light();
		font-size: 20px;
		line-height: 48px;
		color: #fff;
		border: none;
		background-color: transparent;
		cursor: pointer;

		&:before {
			position: absolute;
			top: 0;
			left: 0;
			content: ' ';
			.sprite(@play-white);
		}

	}

}
