.menu-mini {
		position: relative;
		margin: 0 auto;
		padding-top: 10px;
		width: 1023px;
		font-size: 0;
		display: table;
		background: linear-gradient(to top, #fbfbfb, #fff);
		border-bottom: 1px solid @reb-menu;

	&__item {
		display: inline-block;
		padding-bottom: 10px;
		width: 33.33%;
		text-align: center;
		border-bottom: 2px solid transparent;
		transition: border-color .3s ease;

		&:hover,
		&_state_active {
			border-color: @reb-menu;
		}

	}

	&__logo {
		position: relative;
		display: inline-block;

		&_type {

			&_ultra {
				top: -1px;
				width: 190px;
				height: 27px;
				background-image: url('../images/svg/logo-ultra.svg');
				background-position: 0 0;
				background-size: 190px 27px;
			}

			&_oled {
				width: 134px;
				height: 22px;
				background-image: url('../images/svg/logo-oled.svg');
				background-position: 0 0;
				background-size: 134px 22px;
			}

			&_webos {
				top: 4px;
				left: -1px;
				width: 134px;
				height: 28px;
				background-image: url('../images/svg/logo-webos.svg');
				background-position: 0 0;
				background-size: 134px 28px;
			}

		}

	}

	&__home {
		position: absolute;
		top: 4px;
		left: -70px;
		.sprite(@icon-home);
		cursor: pointer;
	}

}
