.model {
	position: relative;
	padding: 10px;
	width: 227px;
	height: 375px;
	display: inline-block;
	vertical-align: top;
	background: linear-gradient(to top, #f8f8f8, #fff);
	border: 1px solid #f2f2f2;
	border-radius: 3px;

	& + .model {
		margin-left: 39px;
	}

	&__img {
		position: absolute;
		top: 10px;
		left: 10px;
		width: 205px;

		& img {
			width: 100%;
		}
	}

	&-wrap {
		padding-top: 157px;
		padding-bottom: 52px;
		height: 100%;
	}

	&-wrap-icons {
		margin-bottom: 31px;
		font-size: 0;

		&_ml {

			&_22 {

				& .model__icon + .model__icon {
					margin-left: 22px;
				}
			}

			&_8 {

				& .model__icon + .model__icon {
					margin-left: 8px;
				}
			}

		}

	}

	&__icon {
		margin-bottom: 6px;
		display: inline-block;
		vertical-align: middle;

		&_type {

			&_4k-mini {
				.sprite(@icon-4k-mini)
			}

			&_infinity-mini {
				.sprite(@icon-infinity-mini)
			}

			&_respond-mini {
				.sprite(@icon-respond-mini)
			}

			&_4k-3d-mini {
				.sprite(@icon-4k-3d-mini)
			}

			&_webos-mini {
				.sprite(@icon-webos-mini)
			}

			&_dvb-t2-mini {
				.sprite(@icon-dvb-t2-mini)
			}

			&_ips-4k-mini {
				.sprite(@icon-ips-4k-mini)
			}

			&_ips-mini {
				.sprite(@icon-ips-mini)
			}

			&_harman-mini {
				.sprite(@icon-harman-mini)
			}

			&_wifi-mini {
				.sprite(@icon-wifi-mini)
			}

			&_colorprime-mini {
				.sprite(@icon-colorprime-mini)
			}

		}

	}

	&__text,
	&__num {
		padding-left: 6px;
		.lgsmart-semibold();
		font-size: 13px;
		line-height: 16px;
		color: #909090;
	}

	&__num {
		margin-top: 8px;
	}

	& .button {
		position: absolute;
		bottom: 20px;
		left: 50%;
		margin-left: -62px;
	}
}
